{% extends "layout.html" %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-sm-10">

    {% if invoice %}
        {% set zap = '{0:0.2f}'.format(invoice.amount/100.0) %}
        {% if invoice.status == invoice.STATUS_CREATED %}
    <div class="alert alert-warning" role="alert">
        Check ZAP amount is ok
    </div>
        {% endif %}
    <div class="card">
        {% if invoice.status == invoice.STATUS_CREATED %}
        <div class="card-header">
            Required amount {{zap}} ZAP
        </div>
        <div class="card-body">
            <form method="post">
                <input type="hidden" name="token" value="{{invoice.token}}" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Yes I have {{zap}} ZAP ready</button>
            </form>
            <br/>
            Expiry: <span id="expiry"></span>
        </div>
        {% elif invoice.status == invoice.STATUS_READY %}
        <div class="card-body">
            {% if invoice.tx_seen %}
                Transaction seen, waiting for exchange backend to process it..
            {% else %}
                <div style="text-align: center">
                {{qrcode_svg | safe}}
                </div>
                <br/>
                <small>
                    <a href="{{url}}">{{url}}</a>
                </small>
                <br/>
                Expiry: <span id="expiry"></span>
            {% endif %}
            <br/>
	    {% set formatted_amount = '{0:0.2f}'.format(invoice.amount/100.0) %}
	    <br/>Amount: ${{formatted_amount}}
        </div>
        {% elif invoice.status == invoice.STATUS_INCOMING %}
        <div class="card-body">
            Transaction registered, waiting to confirm..
        </div>
        {% elif invoice.status == invoice.STATUS_CONFIRMED %}
        <div class="card-body">
            Transaction confirmed..
        </div>
        {% elif invoice.status == invoice.STATUS_EXPIRED %}
        <div class="card-body">
            EXPIRED
        </div>
        {% endif %}
        <div class="card-footer text-muted">
            <small>
                <div>Token: {{invoice.token}}</div>
                <div>Tx Seen: {{invoice.tx_seen}}</div>
                <div>Status: {{invoice.status}}<div>
            </small>
        </div>
    </div>
    {% endif %}
    </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        function reloadNoPost() {
            window.location = window.location.href.split("#")[0];
        }

        function docReady(fn) {
            // see if DOM is already available
            if (document.readyState === "complete" || document.readyState === "interactive") {
                // call on next available tick
                setTimeout(fn, 1);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        }

        docReady(function() {
            // expiry countdown
            var expiry = document.getElementById("expiry");
            if (expiry) {
                var countDownTimer = setInterval(function() {
                    var countDownDate = new Date({{invoice.expiry.timestamp() * 1000}}).getTime();
                    var now = new Date().getTime();
                    var distance = countDownDate - now;
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    expiry.innerHTML = minutes + "m " + seconds + "s ";
                    if (distance < 0) {
                        clearInterval(countDownTimer);
                        expiry.innerHTML = "EXPIRED";
                    }
                }, 1000);
            }

            // socket.io
            setTimeout(function() {
                //const socket = io(document.location.scheme + document.location.host + "/invoice");
                const socket = io("/invoice");

                socket.on('connect', () => {
                    console.log("socket connected");
                    socket.emit('invoice', '{{invoice.token}}');
                });
                socket.on('disconnect', () => {
                    console.log("socket disconnected");
                });
                socket.on('update', (invoice) => {
                    console.log("update: " + invoice);
                    if ("{{invoice.status}}" != invoice.status) {
                        reloadNoPost();
                    }
                });
                socket.on('tx', (tx) => {
                    console.log("tx: " + tx);
                    reloadNoPost();
                });
                socket.on('info', (msg) => {
                    console.log("info: " + msg);
                });
            }, 100);
        });
    </script>
{% endblock %}
