{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-6">
    <img class="mb-4" src="https://zap.me/app/themes/zap/assets/public/images/logo-footer.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Login Required: </h1>
        {%- for message in get_flashed_messages() %}
	    <font color="red"><center>{{ message }}</center></font>
	{%- endfor %}
    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="window.location.href='/bronze_oauth'"/>Bronze OAuth Login</button>
</div>
</div>
{% endblock %}
