{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-6">
<form method="POST">
    <h1 class="h3 mb-3 font-weight-normal">Please choose the spin amount</h1>
    <div class="form-group">
        <label for="email">Email:</label>
        <input name="email" id="email" class="form-control" type="email" value="{{email}}">
    </div>
    <div class="form-group">
        <label for="amount">Amount:</label>
        <input name="amount" id="amount" class="form-control" type="number" value="{{amount}}">
    </div>
    <div class="form-group">
        <label for="amount">Return:</label>
        <select name="multiplier" id="multiplier" class="form-control">
            <option value="2" {% if multiplier == 2 %}selected{% endif %}>2x</option>
            <option value="5" {% if multiplier == 5 %}selected{% endif %}>5x</option>
            <option value="10" {% if multiplier == 10 %}selected{% endif %}>10x</option>
        </select>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
</div>
</div>
{% endblock %}
