{% extends "layout.html" %}

{% block content %}
{% if not bronze_auth %}
<div class="row justify-content-center">
<div class="col-sm-6">
    <img class="mb-4" src="https://zap.me/app/themes/zap/assets/public/images/logo-footer.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Login Required: </h1>
    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="window.location.href='/bronze_oauth'"/>OAuth Login</button>
</div>
</div>
{% else %}
<div class="row justify-content-center">
<div class="col-sm-6">
<form action="/utility">
    <img class="mb-4" src="https://zap.me/app/themes/zap/assets/public/images/logo-footer.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please choose a utility</h1>
    <div class="form-group">
        <label for="utility">Utilities:</label>
        <select name="utility" id="utility" class="form-control">
            {% for utility in utilities %}
            <option value="{{utility.id}}">{{utility.name}}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button></br>
    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="window.location.href='bronze_logout'"/>OAuth Logout</button></br>
</form>
</div>
</div>
{% endif %}
{% endblock %}
