<html>
    <body>
        <div>
            {% if status == "check" %}
            <div style="background-color: orange">
                Check the values are correct
            </div>
            {% endif %}
            {% if error %}
            <div style="background-color: red">
                {{error}}
            </div>
            {% endif %}
            {% set readonly = "readonly" if status == "check" else "" %}
            <small>
            <div>{{utility.name}}</div>
            <div>{{utility.description}}</div>
            <div>{{utility.bank_account}}</div>
            </small>
            <form method="post">
                <input type="hidden" name="zbp_state" value="{{status}}"/>
                <label>Amount NZD</label>
                <input name="zbp_amount" type="number" value="{{amount}}" step="0.01" {{readonly}}/>
                </br>
                {% for field in utility.fields_description_json %}
                {% set max = "max=%d" % (field["max"]) if "max" in field else "" %}
                {% set min = "min=%d" % (field["min"]) if "min" in field else "" %}
                {% set minlength = "minlength=%d" % (field["min_chars"]) if "min_chars" in field else "" %}
                <label>{{field["label"]}}</label>
                <input name="{{field['label']}}" type="{{field['type']}}" value="{{values[field['label']]}}" {{readonly}} {{min}} {{max}} {{minlength}} />
                </br>
                {% endfor %}
                <input type="submit" value="{{'Submit' if status == 'create' else 'The values are correct'}}"/>
            </form>
        </div>
    </body>
</html>
