{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-center">
    <div class="col-sm-6">
    {% if status == "check" %}
    <div class="alert alert-warning" role="alert">
        Check the values are correct
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endif %}
    {% set vars = {"readonly": "readonly" if status == "check" else "", "bank_index": 0} %}
    <div class="card">
    {% if kyc_info['level'] < '2' %}
    <div class="card-header">
        <h1><center>KYC Verification</center></h1>
    </div>
    <div class="card-body">
        <p>KYC LEVEL: {{ kyc_info['level'] }} <font color="red">Bronze user details not verified</font></p></br>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="window.location.href='{{ url }}'"/>Goto Bronze Exchange</button></br>
    </div>
    {% else %}
        <div class="card">
            <p>Logged in as:   <font color="red">{{userinfo.email}}</font></p>
            <button class="btn btn-sm btn-primary btn-block" type="button" onclick="window.location.href='bronze_logout'"/>Bronze OAuth Logout</button>
        </div>
	<div class="card-header">
            <h3 class="card-title">{{utility.name}}</h3>
            <p class="card-text">{{utility.description | urls_to_links}}</p>
        </div>
        <div class="card-body">
            {% if utility.bank_description_json|length > 1 %}
            <div class="form-group">
                <label for="bank_select">Bank Account:</label>
                <select id="bank_select" {{"disabled" if vars.readonly else ""}} class="form-control">
                    {% for bank in utility.bank_description_json %}
                    <option value="{{bank.name}}" {{"selected" if bank.name == selected_bank_name else ""}}>{{bank.name}} - {{bank.account_number}}</option>
                    {% endfor %}
                </select>
            </div>
            <script>
                var sel = document.getElementById("bank_select");
                sel.onchange = function(e) {
                    [].forEach.call(document.querySelectorAll(".bank_form"), function (el) {
                        el.style.display = "none";
                    });
                    var form = document.getElementById("bank_" + e.target.value);
                    form.style.display = "block";
                };
            </script>
            {% endif %}
            {% for bank in utility.bank_description_json %}
            <div id="bank_{{bank.name}}" class="bank_form" style="display: {{'block' if bank.name == selected_bank_name or not selected_bank_name and vars.bank_index == 0 else 'none'}}"> 
                <hr/>
                <form method="post">
                    <input type="hidden" name="zbp_bank_index" value="{{vars.bank_index}}"/>
                    <input type="hidden" name="zbp_utility_name" value="{{utility.name}}"/>
                    <input type="hidden" name="zbp_state" value="{{status}}"/>
                    <div class="form-group">
                        <label for="zbp_email">Email Address</label>
                        <input class="form-control" name="zbp_email" id="zbp_email" type="text" value="{{email}}" step="0.01" {{vars.readonly}}/>
                        <small id="email-desc" class="form-text text-muted">Receive notifications about this payment (optional)</small>
                    </div>
                    <div class="form-group">
                        <label for="zbp_amount">Amount</label>
                        <input class="form-control" name="zbp_amount" id="zbp_amount" type="number" value="{{amount}}" step="0.01" {{vars.readonly}}/>
                        <small id="amount-desc" class="form-text text-muted">NZD amount to pay</small>
                    </div>
                    {% for field in bank.fields %}
                        {% set max = "max=%d" % field.max if "max" in field else "" %}
                        {% set min = "min=%d" % field.min if "min" in field else "" %}
                        {% set minlength = "minlength=%d" % field.min_chars if "min_chars" in field else "" %}
                        <div class="form-group">
                            <label for="{{field.label}}">{{field.label}}</label>
                            <input class="form-control" name="{{field.label}}" id="{{field.label}}" type="{{field.type}}" value="{{values[field.label]}}" {{vars.readonly}} {{min}} {{max}} {{minlength}} />
                            {% if field.description %}
                            <small id="{{field.label}}-desc" class="form-text text-muted">{{field.description}}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{{'Submit' if status == 'create' else 'The values are correct'}}</button>
                </form>
                {% if vars.update({"bank_index": vars.bank_index + 1}) %} {% endif %}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
    </div>
    </div>
{% endblock %}
